  /* User Authentication styles */
  .form-container {
    max-width: 100%;
    width: 400px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgb(236, 196, 196);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.form-auth {
    text-align: center;
}

.form-auth form {
    text-align: left;
}

.form-auth input[type="text"],
.form-auth input[type="email"],
.form-auth input[type="password"],
.form-auth input[type="submit"] {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #f5dbdb;
    border-radius: 5px;
    box-sizing: border-box;
}

.form-auth input[type="submit"] {
    background-color: orangered;
    color: rgb(174, 134, 134);
    border: none;
    font-size: 16px;
    cursor: pointer;
    width: 80px;
    margin-right: 10px;
}

.form-auth input[type="submit"]:hover {
    background-color: rgb(200, 91, 52);
}

.form-auth a, .form-container a {
    text-decoration: none;
    color: #007bff;
}
.profile-container {
    max-width: 100%;
    width: 500px;
    margin: 30px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-header {
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.profile-info {
    background-color: rgb(236, 214, 214);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.profile-info h3 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 10px;
}

.profile-info p {
    font-size: 20px;
    margin: 30px 0;
}
@media only screen and (max-width: 786px) {
    .form-container,
    .profile-container {
        width: 355px;
    }
}

.change-password-button {
    background-color: orangered;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.change-password-button:hover {
    background-color: rgb(172, 84, 52);
}