body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #5b4848;
    display: flex;
    flex-direction: column;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-color: rgb(237, 207, 207);
}

nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav a{
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    color: rgb(70, 108, 189);
    margin: 0 10px;
}

nav a:hover{
    color: #392f2f;

}

nav ul li{
    margin-left: 10px;
    font-size: 20px;
    font-weight: 400;
    align-items: center;
    margin-right: 18px;
}

nav ul li:first-child {
    margin-left: auto;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: flex-start;
    }
}

.container {
    text-align: center;
    padding: 20px;
    background-color: rgb(193, 184, 184);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    width: 80%;
}

#quote-container {
    text-align: center;
    margin: 20px auto;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #b9c6d3;
    color: white;
    margin: 20px auto;
}

button:hover {
    background-color: #667f97;
}
