{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>About Us</h1>
    <div class="about-content">
        <p>Welcome to Inspire Quotes, your daily source of inspiration.</p>
        <p>Our mission is to provide you with the most inspiring quotes to brighten your day and
        motivate you to achieve your goals.</p>
        <p>We believe in the power of words and their ability to inspire, uplift, and transform lives.</p> <p>Our team curates the best quotes from various sources to ensure you always have something uplifting to read.</p>
    </div>
</div>
{% endblock %}