{% extends "base.html" %}

{% block content %}
    <div class="container mt-5">
        <h1 class="text-center">Add New Quote</h1>
        <form method="post" class="custom-form">
            {{ form.hidden_tag() }}
            <div class="form-group text-center">
                {{ form.text.label(class="form-label") }}
                {{ form.text(class="form-control", size=80) }}
                {% for error in form.text.errors %}
                    <span class="text-danger">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="form-group text-center">
                {{ form.author.label(class="form-label") }}
                {{ form.author(class="form-control", size=40) }}
                {% for error in form.author.errors %}
                    <span class="text-danger">[{{ error }}]</span>
                {% endfor %}
            </div>
            <div class="text-center">
            {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
{% endblock %}