{% extends "base.html" %}

{% block content %}
    <h1>Add New Quote</h1>
    <form method="post">
        {{ form.hidden_tag() }}<br>
        {{ form.text.label }}<br>
        {{ form.text(size=80) }}<br>
        {% for error in form.text.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        {{ form.author.label }}<br>
        {{ form.author(size=40) }}<br>
        {% for error in form.author.errors %}
            <span style="color: red;">[{{ error }}]</span>
        {% endfor %}<br>
        {{ form.submit() }}
    </form>
{% endblock %}